{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
    "globals": {
    "window": false,
    "document": false,
    "FormData": false,
    "FileReader": false
  },
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/static-property-placement": 0
  }
}
